Code2PDF_Packer_v3.1.exe
ClipboardCopilot_v3.02.exe
CODE_FILES_PDF
data.zip
Новый словарь.json
.git
__OLD
dist
DEBUG.txt
__Parser2ZIP.py
build
2026.06.30_ClipbardCopilot_v3_FINAL.rar
app_icon.ico
__GO__.bat
__PARSER.bat
AGENTS.md
PARSER.txt
.gitignore
PDF_Code_Unpacker_v3.exe
ClipboardCopilot.spec
__COMPILATION__.bat
