editor_help_logic.py
icons.py
main.py
overlay_context_menu_manager.py
dictionary_part_backend.py
__COMPILATION__.bat
case_formatter.py
PDF_Code_Unpacker_v3.exe
dictionary_editor_init_loader.py
__PARSER.bat
AGENTS.md
ClipboardCopilot_v1.0.exe
dictionary_editor_styles.py
__GO__.bat
dist
flow_layout.py
PARSER.txt
dictionary_editor_ui.py
dictionary_editor_save.py
dictionary_editor_right_ui.py
overlay_focus_engine.py
dictionary_editor_theme_engine.py
.git
dictionary_editor_saver.py
app_icon.ico
overlay_geometry_engine.py
dictionary_editor_mouse.py
dictionary_editor_io.py
storage.py
Code2PDF_Packer_v3.1.exe
dictionary_editor_core_init.py
help_content.py
data
DEBUG.txt
dictionary_editor.py
overlay_bottom_ui.py
ui_behavior_config.py
overlay_core_engine.py
dictionary_backend_actions.py
overlay_win32_helper.py
build
dictionary_editor_events.py
overlay_renderer.py
dictionary_editor_morphology.py
Новый словарь.json
ClipboardCopilot.spec
string_trimmer.py
dictionary_editor_top_ui.py
dictionary_editor_settings.py
dictionary_editor_left_ui.py
.gitignore
dictionary_editor_rounded_logic.py
__OLD
phrase_mode_controller.py
dictionary_editor_color_styles.py
