AGENTS.md
.gitignore
2026.06.30_ClipbardCopilot_v3_FINAL.rar
CODE_FILES_PDF
.git
app_icon.ico
__OLD
data.zip
data/phrases.json
__PARSER.bat
Новый словарь.json
DEBUG.txt
build
__GO__.bat
ClipboardCopilot_v3.02.exe
Code2PDF_Packer_v3.1.exe
__COMPILATION__.bat
ClipboardCopilot.spec
PARSER.txt
PDF_Code_Unpacker_v3.exe
data/settings.json
__Parser2ZIP.py
dist
